.vedlegg {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--a-text-default);
  text-decoration: underline;
  padding-top: 0.75rem;
}

.vedlegg:hover {
  text-decoration: none;
}

.vedleggIngenTilgang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--a-text-subtle);
  text-decoration: none;
  padding-top: 0.75rem;
}

.veddleggsListe {
  padding-top: 0.75rem;
  padding-left: 3rem;
  color: var(--a-text-on-info);
}