---
import type { Language } from "@language/language";
import { getJournalpostUrl } from "@src/urls";
import styles from "./EnkeltJournalpost.module.css";

interface Props {
  journalpostId: string | undefined;
  temakode: string | undefined;
  fullmakt: string | null;
}

const { journalpostId, temakode, fullmakt } = Astro.props;

const language = Astro.currentLocale as Language;

const setJournalpostUrl = () => {
  const isRepresentant = (url: string) =>
    fullmakt ? `${url}?enable_repr=true` : url;

  return journalpostId && isRepresentant(getJournalpostUrl(journalpostId));
};

let journalpost = 

try {
  journalpost = await fetchSoknad(setJournalpostUrl(), Astro.locals.token);
} catch (error: any) {
  logger.error("Fetch failed.", error.message);
  soknadsFetchError = true;
}
---

<div>enkeltpost</div>
