.whiteBackground {
}

.grayBackground {
  padding-top: 0.5rem;
  padding-bottom: 2.75rem;
  padding-right: calc((100vw - 100%) / 2);
  padding-left: calc((100vw - 100%) / 2);
  margin-top: 1rem;
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  background-color: var(--a-surface-subtle);
}