.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--a-text-default);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon {
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--a-surface-subtle);
  color: var(--a-text-subtle);
  line-height: 0;
}

.link {
  margin: 0.2rem 0;
  text-decoration: underline;
  color: var(--a-text-action);
}

.tittelIkkeTilgang {
  margin: 0.2rem 0;
  text-decoration: none;
  color: var(--a-text-subtle);
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}
