.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  color: var(--a-text-default);
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.icon {
  padding: 0.5rem;
  border-radius: 8px;
  background-color: var(--a-surface-subtle);
  color: var(--a-text-subtle);
  line-height: 0;
}

.link {
  margin: 0 0 0.25rem 0;
  text-decoration: underline;
  color: var(--a-text-action);
}

.tittelIkkeTilgang {
  margin: 0 0 0.2rem 0;
  text-decoration: none;
  color: var(--a-text-subtle);
}

.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.dokumentKanIkkeVises {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--a-text-subtle);
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}
