.container {
  margin-top: 0.5rem;
}

.contentWrapper {
  margin-top: 1rem;
}

.dokumentlisteInfo {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.text {
  font-weight: 600;
}

.list {
  padding: 0;
  margin: 0;
}

.list li:first-of-type {
  border-radius: 12px 12px 4px 4px;
}

.list li:last-of-type {
  border-radius: 4px 4px 12px 12px;
}