.container {
  padding: 0.75rem 0;
  border-top: 1px solid var(--a-bg-subtle);
  position: relative;
}

.title {
  padding: 0.75rem 0;
}

.vedlegg {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--a-surface-action);
  text-decoration: underline;
  padding-bottom: 0.2rem;
}

.vedlegg::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.vedlegg:hover {
  text-decoration: none;
}

.vedleggIngenTilgang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: var(--a-text-subtle);
  text-decoration: none;
  padding-bottom: 0.2rem;
}

.veddleggsListe {
  padding: 0.75rem;
  color: var(--a-text-on-info);
}

.linkWIthIcon {
  display: flex;
  gap: 1rem;
}
