.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--a-text-default);
  text-decoration: none;
  background: var(--a-surface-subtle);
  padding: 0.75rem;
  margin-bottom: 0.2rem;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.link {
  margin: 0.2rem 0;
  text-decoration: underline;
  color: var(--a-text-action);  
  text-wrap: balance;
}

.link:hover {
  text-decoration: none;
  cursor: pointer;
}