.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 2rem 0;
  padding: 1rem;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--a-bg-subtle);
}

.liste {
  margin-top: 0.12rem;
  margin-bottom: 0;
}

.liste li {
  text-wrap: balance;
}

.liste li :first-of-type {
  margin-bottom: 1rem;
}