.btn {
  border-radius: 4px;
  border: 1px solid;
  background-color: var(--a-surface-selected);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0 1rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--a-surface-default);
  background-color: var(--a-surface-action-selected-hover);
  font-size: 1rem;
}

.modal {
  width: 20rem;
  min-width: 8rem;
}