.container {
  display: flex;
  flex-direction: column;
}

.box {
  padding: 2rem 0;
}

.background {
  background-color: var(--a-surface-hover);
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

.tekst {
  padding: 1rem;
}

.heading {
  color: var(--a-text-default);
}

.taKontakt {
  margin: 0;
}

.button {
  width: 14rem;
  margin-top: 2rem;
}