.liste {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 2rem;
  margin-bottom: 0;
}

.heading {
  margin-top: 2rem;
}

.liste li:first-of-type {
  border-top: 1px solid var(--a-border-divider);
}